.button-bar{
  margin-left: -1rem;
  display: flex;
  flex-flow: row wrap;
  > .button-group{
    margin-left: 1rem;
  }
  &.center{
    justify-content: center;
    margin: 0;
    > .button-group{
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }
}