@import "normalize.css/normalize.css";
@import "placeholder.css";
@import "variables.css";
@import "utils.css";
@import "grid.css";
@import "buttons.css";
@import "typography.css";
@import "forms.css";
@import "header.css";
@import "global-nav.css";
@import "side-nav.css";
@import "table.css";

html{
  font-size: var(--default-font-size);
}

body{
  color: var(--default-text-color);
  background-color: var(--default-bg-color);
  font-family: var(--default-font-family);
  line-height: 1.6;
}

a{
  color: var(--default-accent-color);
  &:hover{
    color: color(var(--default-accent-color) l(+15%));
    &:active{
      color: color(var(--default-accent-color) l(-5%));
    }
  }
}