.global-nav{
  @extend .row;
  display: flex;
  max-width: var(--default-row-max-width);
  padding: 0 var(--default-column-gutter);
  margin: 0 auto;
  &.sticky{
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 2px #ccc;
    background-color: #fefefe;
    + .header{
      @media (--medium){
        padding-top: 7rem;
      }
    }
  }
  &.transparent{
    background-color: transparent;
    box-shadow: none;
  }
  .primary{
    
  }
  .nav-left, .nav-right{
    margin: auto 0;
    @media (--small){
      display: none;
      &.primary{
        display: block;
      }
    }
    @media (--small){
      display: none;
    }
    @media (--medium){
      display: inline-block;
    }
  }
  .nav-right{
    @media (--medium){
      margin-left: auto;
    }
  }
  form{
    display: inline-block;
  }
  .button, button, input{
    margin: 0;
  }
  .logo{
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    @media  (--medium){
      font-size: 1.5rem;
      width: auto;
    }
    a{
      @media (--medium){
        padding-bottom:  var(--default-global-nav-vertical-padding);
      }
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li{
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      padding: 0;
      @media (--medium){
        margin: 0 calc(var(--default-column-gutter) / 2);
      }
      &.dropdown{
        a{
          padding-right: 1rem;
          position: relative;
          &:after{
            content: '';
            width: 0;
            height: 0;
            border: .3rem solid transparent;
            border-top-color: var(--default-accent-color);
            position: absolute;
            right: .25rem;
            top: 50%;
          }
        }
        > ul{
          display: none;
        }
      }
      a{
        display: block;
        text-decoration: none;
        color: var(--default-accent-color);
        padding: var(--default-global-nav-vertical-padding) calc(var(--default-column-gutter) * .5);
        @media (--medium){
          padding: var(--default-global-nav-vertical-padding) .5rem;
        }
        &.dark{
          color: #fff;
        }
      }
    }
  }
}