.pagination{
  list-style-type: none;
  margin: 0 0 1rem;
  display: flex;
  li{
    margin: 0;
    a{
      display: block;
      padding: .3rem .7rem;
    }
    &.disabled{
      a{
        pointer-events: none;
        color: var(--default-secondary-text-color);
      }
    }
  }
}

.pagination-centered{
  @extend .pagination;
  justify-content: center;
}