%button{
  transition: all .2s ease;
  display: inline-block;
  margin-bottom: 1rem;
  padding: .3rem .8rem;
  border: 1px solid var(--default-accent-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent none;
  border-radius : 1px;
  text-decoration: none;
  color: var(--default-accent-color);
  outline: none;
  border-bottom-width: 3px;
  position: relative;
  top: 0;
  &:hover{
    background-color: var(--default-accent-color);
    color: #fff;
    text-shadow: 0 1px 1px color(#000 a(30%));
    &:active{
      background-color: color(var(--default-accent-color) b(50%));
      border-color: color(var(--default-accent-color) b(50%));
      position: relative;
      border-top-width: 3px;
      border-bottom-width: 1px;
    }
  }
  &.large{
    font-size: 1.5rem;
  }
  &.small{
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
}