table{
  border: 1px solid var(--default-divider-color);
  margin: 1rem 0;
  &.full{
    width: 100%;
  }
  &.stripe{
    tr:nth-of-type(even){
      background-color: #ccc8;
    }
  }
  thead{
    border-bottom: 3px double var(--default-divider-color);
  }
  tr{
    &:hover{
      background-color: #eee8 !important;
    }
  }
  th{
    text-align: left;
  }
  td, th{
    padding: .4rem .5rem;
    border: 1px solid var(--default-divider-color);
  }
  tfoot{
    border-top: 3px double var(--default-divider-color);
  }
}