.clearfix{
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}
.radius{
  border-radius: var(--default-radius-length);
}
.round{
  border-radius: 1000px;
}