:root {
  --default-accent-color: var(--accent-color, #1abe9e);

  --default-text-color: var(--text-color, #444);
  --default-bg-color: var(--bg-color, #fefefe);

  --default-row-max-width: var(--row-max-width, 70rem);
  --default-column-count: var(--column-count, 12);
  --default-column-gutter: var(--column-gutter, 1rem);

  --default-font-size: var(--font-size, 1rem);
  --default-font-family: var(--font-family, "Avenir Next", "Segoe UI", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif);
  --default-divider-color: var(--divider-color, #ccc);
}

@custom-media --small;
@custom-media --medium (width >= 50rem);
@custom-media --large (width >= 70rem);