
.button{
  @extend %button;
  a&:hover{
    text-decoration: none;
    color: #fff;
  }
}

button[disabled], .button.disabled{
  pointer-events: none;
  opacity: .7;
}

button[disabled]{
  cursor: not-allowed;
}
