/* Initialize styles */
@import "normalize.css/normalize.css";

@import "variables.css";
@import "placeholder.css";
@import "typography.css";
@import "lists.css";
@import "table.css";
@import "forms.css";

@import "grid.css";
@import "buttons.css";
@import "header.css";
@import "global-nav.css";
@import "side-nav.css";
@import "pagination.css";
@import "quotes.css";
@import "breadcrumbs.css";
@import "labels.css";
@import "utils.css";
@import "button-groups.css";
@import "button-bars.css";
@import "dropdowns.css";
@import "tabs.css";
@import "modal.css";

html{
  font-size: var(--default-font-size);
}

body{
  color: var(--default-text-color);
  background-color: var(--default-bg-color);
  font-family: var(--default-font-family);
  line-height: 1.6;
}
