.global-nav{
  background-color: #fff;
  margin-bottom: 4rem;
  &.sticky{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    + *{
      @media (--medium){
        padding-top: 5rem;
      }
    }
  }
  &.transparent{
    background-color: transparent;
    box-shadow: none;
  }
  .primary{
    
  }
  &.shadow{
    background: linear-gradient(to bottom, #0005, #0000);
    a{
      color: #fff;
    }
    padding-bottom: 2rem;
  }
  > .row{
    min-height: 4rem;
    justify-content: space-between;
  }
  .nav-left, .nav-right{
    margin: auto 0;
    padding: 0 var(--default-column-gutter);
    @media (--small){
      display: none;
      &.primary{
        display: block;
      }
    }
    @media (--small){
      display: none;
    }
    @media (--medium){
      display: inline-block;
    }
  }
  .nav-right{
    @media (--medium){
      margin-left: auto;
    }
  }
  form{
    display: inline-block;
  }
  :--form-control{
    margin: 0;
  }
  :--button{
    padding-top: 7px;
    padding-bottom: 5px
  }
  .logo{
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    @media  (--medium){
      font-size: 1.5rem;
      width: auto;
    }
    a{
      @media (--medium){
        padding-bottom:  var(--default-global-nav-vertical-padding);
      }
    }
  }
  [class*="nav-"]{
    list-style-type: none;
    ul:not(.dropdown){
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      > li{
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        padding: 0;
        @media (--medium){
          margin: 0 calc(var(--default-column-gutter) / 2);
        }
        > a{
          display: block;
          text-decoration: none;
          padding: var(--default-global-nav-vertical-padding) calc(var(--default-column-gutter) * .5);
          &:active{
            background-color: #ccc7;
            box-shadow: 0 0 1px #ccc7;
          }
          @media (--medium){
            padding: calc(var(--default-global-nav-vertical-padding) / 2) .5rem;
          }
          &[data-dropdown]{
            @extend %dropdownbutton;
            &:hover:after{
              border-top-color: var(--default-accent-color);
            }
          }
          &.dark{
            color: #fff;
          }
        }
      }
    }
  }
}