.modal{
  padding: 1rem 1rem 0;
  box-shadow: 0 0 10px 2px color(var(--default-divider-color) a(80%));
  border-radius: 1px;
  border: 1px solid var(--default-divider-color);
  .modal-header{
    :--heading{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .modal-body{
    border-top: 1px solid var(--default-divider-color);
    border-bottom: 1px solid var(--default-divider-color);
    margin: .5rem -1rem;
    padding: 1.5rem 1rem;
  }
  .modal-footer{
    margin-top: 1rem;
    text-align: right;
  }
}