.progressbar{
  background-color: #fff;
  height: 1rem;
  margin: 0 0 1rem;
  border-radius: 1px;
  border: 1px solid var(--default-accent-color);
  .bar{
    width: 0;
    background: var(--default-accent-color);
    height: 100%;
    display: block;
    line-height: 1;
    text-align: right;
    color: #fff;
    box-sizing: border-box;
    padding: 0 .5rem;
  }
}