.tabs{
  list-style-type: none;
  display: flex;
  margin: 0 0 1rem;
  flex-flow: row wrap;
  &:after{
    content: '';
    background-color: var(--default-accent-color);
    flex-grow: 1;
    height: 1px;
    align-self: flex-end;
  }
  &.full{
    justify-content: flex-start;
    > li{
      flex-grow: 1;
    }
    &:after{
      content: none;
    }
  }
  > li{
    &[data-disabled]{
      @extend %button;
      color: var(--default-secondary-text-color);
      border-bottom-width: 1px;
      border-radius: 0;
      margin-bottom: 0;
      cursor: not-allowed;
      &:hover{
        background: transparent;
        color: inherit;
        text-shadow: none;
      }
    }
    &:first-child > a{
      border-radius: 1px 0 0 0;
    }
    &:last-child > a{
      border-radius: 0 1px 0 0;
    }
    &[data-active]{
      position: relative;
      &:before, &:after{
        position: absolute;
        content: '';
        width: 1px;
        height: 1px;
        background-color: var(--default-accent-color);
        bottom: 0;
      }
      &:before{
        left: -1px;
        content: none;
      }
      &:after{
        right: 0;
      }
      > a{
        box-shadow: inset 0 2px 0 0 var(--default-accent-color);
        border-bottom-color: transparent;
        pointer-events: none;
      }
    }
    + li > a, + li[data-disabled]{
      border-left: none;
    }
    > a{
      @extend %button;
      display: block;
      margin-bottom: 0;
      border-bottom-width: 1px;
      border-radius: 0;
      &[data-dropdown]{
        @extend %dropdownbutton;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.tab-contents{
  > .tab-content{
    display: none;
    &.active{
      display: block;
    }
  }
}