@for $i from 1 to 6{
  h$(i){
    font-size: calc(2.2rem - 0.2rem * $(i));
    margin: 0.3rem 0 .6rem;
    .small, small{
      font-size: .6em;
      color: var(--default-secondary-text-color);
    }
  }
}
p{
  margin: .6rem 0 1rem;
}
.lead{
  font-size: 1.2rem;
}
:--any-link{
  text-decoration: none;
  color: var(--default-accent-color);
  transition: all .2s ease;
  &:hover{
    text-decoration: underline;
    color: color(var(--default-accent-color) l(+15%));
  }
  &:active{
    color: color(var(--default-accent-color) l(-5%));
  }
}
dl{
  margin: 0 0 1rem;
  dt{
    font-weight: bold;
  }
  dd{
    margin: 0 0 .5rem;
  }
}