:root {
  --default-accent-color: var(--accent-color, #1abe9e);
  --default-dark-accent-color: color(var(--default-accent-color) b(+10%));

  --default-text-color: var(--text-color, #444);
  --default-bg-color: var(--bg-color, #fefefe);
  --default-secondary-text-color: var(--secondary-text-color, #777);

  --default-row-max-width: var(--row-max-width, 70rem);
  --default-column-count: var(--column-count, 12);
  --default-column-gutter: var(--column-gutter, 1rem);

  --default-font-size: var(--font-size, 1rem);
  --default-large-font-size: var(--large-font-size, 1.5rem);
  --default-font-family: var(--font-family, "Avenir Next", "Segoe UI", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif);
  --default-divider-color: var(--divider-color, #ddd);

  --default-stripe-color: var(--stripe-color, #2c3e50);
  --default-stripe-pitch: var(--stripe-pitch, 30px);
  
  --default-global-nav-vertical-padding: var(--global-nav-vertical-padding, 1rem);

  --default-side-nav-vertical-padding: var(--global-nav-vertical-padding, .2rem);

  --default-label-bg-color: var(--label-bg-color, #666);

  --default-button-radius-length: 1px;
  --default-radius-length: var(--radius-length, 3px);
  --default-round-length: 1000px;
}

@custom-media --small only screen;
@custom-media --medium (width >= 40rem);
@custom-media --large (width >= 70rem);

@custom-selector :--text-input input[type="text"], textarea;
@custom-selector :--form-control input, textarea, select, button;
@custom-selector :--state-box input[type="radio"], input[type="checkbox"];
@custom-selector :--any-link a, a:link, a:visited;
@custom-selector :--button .button, button, input[type="button"];
@custom-selector :--tab-button .tabs > li > a;
@custom-selector :--list ul, ol;
@custom-selector :--heading h1, h2, h3, h4, h5, h6;